html, body {
    padding: 0;
    margin: 0;
    background-color: #000;
    font-size=62.5%;
    font-family: 'noto sans', 'Microsoft Yahei', '微软雅黑', sans-serif;
    color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*	-moz-user-select: none; /*火狐*/
    /*	-webkit-user-select: none;  /*webkit浏览器*/
    /*	-ms-user-select: none;   /*IE10*/
    /*	-khtml-user-select: none; /*早期浏览器*/
    /*	user-select: none;  /**/
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	    	box-sizing: border-box;
}
ul{
    margin:0;
    padding:0;
}
li, li:hover{
    display: inline-block;
    padding: 0 2em 0 0;
}
li:hover{
    cursor: pointer;
}
textarea {
    border-style: none;
    padding: 6px;
    font-size: 1.2em;
    background-color: #333;
    color: #edc;
	box-shadow: 1px 1px 1px #444;
	margin: 5px;
    /*width: 47%;
    margin: 1%;*/
	flex:1;
    height: 600px;
}
input[type=button] {
    cursor: pointer;
	background-color: inherit;
	color: inherit;
	font-size:1.2em;
	margin: 10px 5px 0 auto;
}
.homepage {
    order: <integer>;
    margin: 30px;
}
input[type=checkbox], input[type=radio] {
    display: inline-block;
    margin: 0 3px 0 6px;
}
a {
    text-decoration: none;
}
div.flex{
	display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
	width:100%;
	/*border: 1px solid;*/
}
div#nav{
    height: 2em;
    color: red;
    padding: 1em 0 0 2em;
}
div#container {
    height: 100%;
    display: -webkit-flex;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#init {
    font-size: 2em;
}
